services:
  flaskion:
    ports:
      - "5100:5100"
      - "5150:5150" # for debugging
    environment:
      - FLASK_ENV=development
      - FLASK_APP=server.py
    entrypoint: [ "/var/docker-flask/flaskion/env/bin/python", "-Xfrozen_modules=off", "-m", "debugpy", "--listen", "0.0.0.0:5150", "--wait-for-client", "/var/docker-flask/flaskion/server.py" ]