services:
  flaskion:
    ports:
      - "5100:5100"
      - "5150:5150" # for debugging
    environment:
      - FLASK_ENV=development
      - FLASK_APP=server:app
      - DEBUG_PORT=5150
      - DEBUGPY=true
      - PYDEVD_DISABLE_FILE_VALIDATION=1 # frozen modulesチェックスキップ(再起動時の警告抑止)
      - SECRET_KEY=dev-secret-key-20251227 # Flask session secret-key
      - JWT_SECRET_KEY=change_this_secret-20251227 # JWT secret-key
    entrypoint: [
      "/var/docker-flask/flaskion/env/bin/python", 
      "-Xfrozen_modules=off", 
      "-m", "flask",
    ]
    command: [
      "run",
      "--host=0.0.0.0",
      "--port=5100"
    ]
