services:
  flaskion:
    restart: always
    build: .
    container_name: py311_flask
    ports:
      - "5100:5100"
    tty: true
    volumes:
      - env:/var/docker-flask/flaskion/env
      - ../flaskion:/var/docker-flask/flaskion
    environment:
      - FLASK_ENV=production
      - SECRET_KEY=${SECRET_KEY}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
      - GEMINI_KEY_SECRET=${GEMINI_KEY_SECRET}
      - UWGEN_KEY_SECRET=${UWGEN_KEY_SECRET}
    command: ./env/bin/gunicorn -w 4 -k gevent -b 0.0.0.0:5100 server:app

  uwgen_db:
    restart: always
    image: postgres:12
    container_name: pg12_uwgen
    ports:
      - "5201:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ../pg12_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    
volumes:
  env:
