services:
  flaskion:
    ports:
      - "5100:5100"
      - "5150:5150" # for debugging
    environment:
      - FLASK_ENV=development
      - FLASK_APP=server:app
      - DEBUG_PORT=5150
      - DEBUGPY=true
    entrypoint: [
      "/var/docker-flask/flaskion/env/bin/python", 
      "-Xfrozen_modules=off", 
      "-m", "flask",
    ]
    command: [
      "run",
      "--host=0.0.0.0",
      "--port=5100"
    ]
