services:
  flaskion:
    ports:
      - "5100:5100"
      - "5150:5150" # for debugging
      - "5151:5151"
    environment:
      - FLASK_ENV=development
    command: /var/docker-flask/flaskion/env/bin/python -m flask run --host=0.0.0.0 --port=5100
