<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Flaskion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1>Gemini API</h1>
    <p>Welcoome to a containerized Flask application. Enter a prompt below and retrieve results derectly from the API..23</p>
    
    <!-- プロンプト入力欄と送信ボタン -->
    <div>
        <input id="prompt" type="text" class="prompt-box" placeholder="プロンプトを入力">
        <button id="sendBtn">Send</button>
    </div>

    <!-- 結果表示エリア -->
    <div id="result">Results will appear here.</div>

    <!-- バックエンド通信JS -->
    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
